{%
    set alert_mapping = {
        success:    'success',
        warning:    'warning',
        error:      'danger',
        notice:     'info',
        verify_email_error: 'warning'
    }
%}
{%
    set alert_icon = {
        success:    'fa-info fu-duotone',
        warning:    'fa-exclamation-triangle fu-duotone',
        error:      'fa-engine-warning fu-duotone',
        notice:     'fa-exclamation fu-duotone',
        verify_email_error:    'fa-exclamation-triangle fu-duotone'
    }
%}
{% for label, messages in app.flashes() %}
    {% for message in messages %}
        <div class="flashbag alert alert-{{ alert_mapping[label] }}" data-flash-type="{{ label }}">
            <i class="fad {{ alert_icon[label] }}"></i> <span>{{ message }}</span>
        </div>
    {% endfor %}
{% endfor %}
