{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block content %}
    <h1>Create new Category</h1>

    {{ include('blog/category/_partials/_form.html.twig') }}

    <a href="{{ path('blog_category_index') }}">back to list</a>
{% endblock %}
