{% extends 'admin/admin_base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block content %}
    <h1>Edit Category</h1>

    {{ include('admin/blog/category/_partials/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path(constant('App\\Controller\\RouteCatalog::ADMIN_CATEGORY_INDEX')) }}">back to list</a>

    {{ include('admin/blog/category/_partials/_delete_form.html.twig') }}
{% endblock %}
