{% extends 'admin/admin_base.html.twig' %}

{% block title %}#Edit {{ category.name }}{% endblock %}

{% block content %}
    <h1>#Edit « <small>{{ category.name }}</small> »</h1>
    {{ include('admin/blog/category/_partials/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div class="position-relative">
        {{ include('admin/blog/category/_partials/_delete_form.html.twig') }}
    </div>
{% endblock %}
