{% extends '@admin/admin_base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block content %}
    <h1>#New</h1>
    {{ include('@admin/blog/category/_partials/_form.html.twig') }}
{% endblock %}
