{% extends 'admin/admin_base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block content %}
    <h1>Ajoutes un nouvel article</h1>
    {{ include('admin/blog/post/_partials/_form.html.twig') }}
{% endblock %}
