{% set status = status|default('draft') %}
{% set btn_class = btn_class|default('btn-outline-info') %}

{% set content %}
    {% if is_granted('edit', post) %}
        <li><a class="dropdown-item" href="{{ path(constant('App\\Controller\\RouteCatalog::ADMIN_POST_EDIT'), {'id': post.id}) }}">Modifier</a></li>
    {% endif %}
    {% if workflow_can(post, 'askpublish') %}
        <li>
            {% include '@admin/blog/post/_partials/_post_status_workflow_form.html.twig' with {action: 'askPublish', label: 'Demander la Publication'} %}
        </li>
    {% endif %}
    {% if workflow_can(post, 'publish') %}
        <li>
            {% include '@admin/blog/post/_partials/_post_status_workflow_form.html.twig' with {action: 'publish', label: 'Publier'} %}
        </li>
    {% endif %}
    {% if workflow_can(post, 'modify') %}
        <li>
            {% include '@admin/blog/post/_partials/_post_status_workflow_form.html.twig' with {action: 'modify', label: 'Passer en brouillon'} %}
        </li>
    {% endif %}
    {% if workflow_can(post, 'delete') %}
        <li>
            {% include '@admin/blog/post/_partials/_post_status_workflow_form.html.twig' with {action: 'delete', label: 'Mettre à la corbeille'} %}
        </li>
    {% endif %}
    {% if workflow_can(post, 'drafttotrash') %}
        <li>
            {% include '@admin/blog/post/_partials/_post_status_workflow_form.html.twig' with {action: 'draftToTrash', label: 'Mettre à la corbeille'} %}
        </li>
    {% endif %}
    {% if workflow_can(post, 'undeletetodraft') %}
        <li>
            {% include '@admin/blog/post/_partials/_post_status_workflow_form.html.twig' with {action: 'undeleteToDraft', label: 'Passer en brouillon'} %}
        </li>
    {% endif %}
    {% if workflow_can(post, 'undeletetopublish') %}
        <li>
            {% include '@admin/blog/post/_partials/_post_status_workflow_form.html.twig' with {action: 'undeleteToPublish', label: 'Re-publier'} %}
        </li>
    {% endif %}
{% endset %}
{% dump(content|trim) %}

{% set content = content|trim %}
{% if content|length %}
    <div class="dropdown">
        <a class="btn {{ btn_class }} dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Action
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {{ content|raw }}
        </ul>
    </div>
{% endif %}
