{% extends '@admin/admin_base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block content %}
    <h1>#New</h1>
    {{ include('@admin/user/_partials/_form.html.twig') }}
{% endblock %}
