.digivia-letter-badge {
  display: inline-block;
  font-size: 4em;
  line-height: 1.5em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border-radius: 50%;
  border: 3px solid #FFF;
  color: #fff;
  font-family: Nunito, sans-serif;
  font-weight: 100;
  box-shadow: 0 0 5px #666;
  background-color: #5cbacc;
}
