.choices {
  margin-bottom: 0;
}

.choices__inner, .choices__input {
  background-color: $gray-300;
  color: $gray-900;
}

.choices__inner {
  font-size: 1rem;
}

.choices__list--multiple {
  & .choices__item {
    font-size: 1rem;
    background-color: $orange-500;
    border-color: $orange-600;
  }
}

.choices__list--dropdown{
  background-color: $gray-900;
  color: $gray-100;
  & .choices__item {
    font-size: 1rem;
  }
  & .choices__item--selectable.is-highlighted {
    background-color: $gray-600;
  }
}
